<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Create Project</h1>

    <form method="POST" action="/projects/create">
      <label for="projectname">Project Name:</label>
      <input type="text" id="projectname" name="projectname" required />
      <div>
        <label for="author">Author:</label>
        <textarea id="author" name="author" required></textarea>
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
      </div>
      <input type="hidden" name="userId" value="<%= userId %>" />
      <button type="submit">Create Project</button>
    </form>
  </body>
</html>
